<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to <%=title%>!</h1>
    <form action="/" method="POST">
      <label for="name">Name:</label>
      <input id="name" placeholder="Jane Doe" />
      <label for="email">Email:</label>
      <input id="email" placeholder="janedoe@example.com" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
